<div class="d-flex flex-column h-100 justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">Registrar Sede</div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <div class="form-group">
                                <label for="sede">Nombre de la Sede </label>
                                <input id="sede" formControlName="sede" type="text" required class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="ciudad">Ciudad de Ubicaciòn </label>
                                <select id="ciudad" required class="form-control" formControlName="ciudad">
                                    <option selected>Seleccione Ciudad</option>
                                    <option value="1">Bogota</option>
                                    <option value="2">Medellin</option>
                                    <option value="3">Cali</option>
                                  </select>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <a routerLink="/" class="ml-2 btn btn-outline-secondary">
                                Home
                            </a>
                            <button (click)="submit()" [disabled]="!form.valid" type="submit"
                                class="btn btn-outline-success">
                                Crear
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>